# =========================

# Visual Studio 2022

# =========================

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================

# Build folders

# =========================

Debug/
Release/
x64/
x86/
ARM/
ARM64/

# =========================

# MSVC intermediate files

# =========================

*.idb
*.ipdb
*.iobj
*.ipch
*.tlog
*.log
*.lastbuildstate
*.ilk

# =========================

# C/C++ compiled files

# =========================

*.obj
*.o
*.lo
*.slo

# Precompiled headers

*.pch
*.gch

# Debug symbols

*.pdb
*.dwo

# =========================

# Libraries & binaries

# =========================

*.exe
*.dll
*.lib
*.a
*.so
*.dylib
*.out
*.app
