# =========================

# Visual Studio 2022

# =========================

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================

# Build folders (project)

# =========================

Debug/
Release/
x64/
x86/
ARM/
ARM64/

# =========================

# MSVC intermediate files

# =========================

*.idb
*.ipdb
*.iobj
*.ipch
*.tlog
*.log
*.lastbuildstate
*.ilk

# =========================

# C/C++ compiled files

# =========================

*.obj
*.o
*.lo
*.slo

# Precompiled headers

*.pch
*.gch

# Debug symbols

*.pdb
*.dwo

# =========================

# Executables (project)

# =========================

*.exe
*.out
*.app

# =========================

# Allow SDL binaries

# =========================

!external/SDL2/bin/SDL2.dll
!external/SDL2/lib/*.lib
!external/SDL2/include/**
